*
!/README
!/LICENSE
!/01_setup_pipeline.py
!/02_setup_model_fragments.py
!/03_build_models.py
!/04_pick_models_to_design.py
!/05_design_models.py
!/06_pick_designs_to_validate.py
!/07_setup_design_fragments.py
!/08_validate_designs.py
!/09_compare_best_designs.py
!/view_models.py
!/big_jobs/
!/big_jobs/*
!/libraries/
!/libraries/*
!/scripts/
!/scripts/*
!/tools/
!/tools/*
*.pyc
.*.sw*
*~
